html,body {
	width: 100%;
	height: 100%;
}

body {
	font-family: Open Sans,sans-serif;
	overflow-x: hidden;
}

/*CIRCULAR TIMELINE*/
.ct-click-scroll {
	position: absolute;
	width: 100%;
	height: 3px;
}

.circular-timeline {
	background-color: #c43a2f;
	position: relative;
	width: 100%;
	-webkit-transition: background-color .4s linear;
	-moz-transition: background-color .4s linear;
	-o-transition: background-color .4s linear;
	transition: background-color .4s linear;
}

.timeline-wrapper {
	position: relative;
	overflow: hidden;
	z-index: 1;
}

.timeline-line {
	width: 500px;
	height: 500px;
	position: absolute;
	top: 100%;
	margin-top: 100px;
	left: 50%;
	margin-left: -250px;
	-webkit-transform: rotate(26deg);
	-moz-transform: rotate(26deg);
	-o-transform: rotate(26deg);
	transform: rotate(26deg);
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.timeline-radius {
	position: absolute;
	width: 1000px;
	height: 1000px;
	border: 1px solid #fff;
	left: -50%;
	top: -50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
}

.timeline-item,.timeline-item-mobile {
	display: inline-table;
	border: 1px solid #fff;
	position: absolute;
	text-align: center;
	width: 100px;
	height: 100px;
	z-index: 1;
	background-color: #c43a2f;
	cursor: pointer;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: rotate(-26deg);
	-moz-transform: rotate(-26deg);
	-o-transform: rotate(-26deg);
	transform: rotate(-26deg);
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.timeline-item.active {
	pointer-events: none;
}

.timeline-item-inner {
	width: 100%;
	height: 100%;
	display: block;
	position: absolute;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.timeline-item-inner .fa-2x{
	font-size: 40px;
}

.inside-time {
	width: 100%;
	height: 100%;
	display: block;
	top: 29px;
	position: relative;
	vertical-align: middle;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.inside-time:after {
	content: "";
	width: 90%;
	height: 90%;
	position: absolute;
	left: 5%;
	top: 5%;
	border: 1px solid transparent;
	border-left: 1px solid #fff;
	margin-top: -29px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	transform: rotate(-35deg);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.inside-time:before {
	content: "";
	width: 80%;
	height: 80%;
	position: absolute;
	left: 14%;
	top: 7%;
	border: 1px solid transparent;
	border-right: 1px solid #fff;
	margin-top: -29px;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	border-radius: 50%;
	-webkit-transform: rotate(-35deg);
	-moz-transform: rotate(-35deg);
	-o-transform: rotate(-35deg);
	transform: rotate(-35deg);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-o-backface-visibility: hidden;
	backface-visibility: hidden;
}

.inside-time p {
	margin: 0;
	font-size: 35px;
	color: #D6D6D6;
}

.inside-time p:nth-child(2) {
	font-size: 13px;
	margin-top: -8px;
}

.inside-time img {
	top: -11px;
	position: relative;
	width: 65%;
}

.prev-1,.next-1 {
	width: 80px;
	height: 80px;
	margin-top: 10px;
	margin-left: 10px;
}

.prev-1:hover,.next-1:hover {
	box-shadow: 0 0 1px 1px #fff;
}

@-webkit-keyframes prevanim {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(51deg);
		-moz-transform: rotate(51deg);
		-o-transform: rotate(51deg);
		transform: rotate(51deg);
	}

	50% {
		-webkit-transform: rotate(11deg);
		-moz-transform: rotate(11deg);
		-o-transform: rotate(11deg);
		transform: rotate(11deg);
	}

	75% {
		-webkit-transform: rotate(41deg);
		-moz-transform: rotate(41deg);
		-o-transform: rotate(41deg);
		transform: rotate(41deg);
	}

	to {
		-webkit-transform: rotate(31deg);
		-moz-transform: rotate(31deg);
		-o-transform: rotate(31deg);
		transform: rotate(31deg);
	}
}

@-moz-keyframes prevanim {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(51deg);
		-moz-transform: rotate(51deg);
		-o-transform: rotate(51deg);
		transform: rotate(51deg);
	}

	50% {
		-webkit-transform: rotate(11deg);
		-moz-transform: rotate(11deg);
		-o-transform: rotate(11deg);
		transform: rotate(11deg);
	}

	75% {
		-webkit-transform: rotate(41deg);
		-moz-transform: rotate(41deg);
		-o-transform: rotate(41deg);
		transform: rotate(41deg);
	}

	to {
		-webkit-transform: rotate(31deg);
		-moz-transform: rotate(31deg);
		-o-transform: rotate(31deg);
		transform: rotate(31deg);
	}
}

@-o-keyframes prevanim {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(51deg);
		-moz-transform: rotate(51deg);
		-o-transform: rotate(51deg);
		transform: rotate(51deg);
	}

	50% {
		-webkit-transform: rotate(11deg);
		-moz-transform: rotate(11deg);
		-o-transform: rotate(11deg);
		transform: rotate(11deg);
	}

	75% {
		-webkit-transform: rotate(41deg);
		-moz-transform: rotate(41deg);
		-o-transform: rotate(41deg);
		transform: rotate(41deg);
	}

	to {
		-webkit-transform: rotate(31deg);
		-moz-transform: rotate(31deg);
		-o-transform: rotate(31deg);
		transform: rotate(31deg);
	}
}

@keyframes prevanim {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(51deg);
		-moz-transform: rotate(51deg);
		-o-transform: rotate(51deg);
		transform: rotate(51deg);
	}

	50% {
		-webkit-transform: rotate(11deg);
		-moz-transform: rotate(11deg);
		-o-transform: rotate(11deg);
		transform: rotate(11deg);
	}

	75% {
		-webkit-transform: rotate(41deg);
		-moz-transform: rotate(41deg);
		-o-transform: rotate(41deg);
		transform: rotate(41deg);
	}

	to {
		-webkit-transform: rotate(31deg);
		-moz-transform: rotate(31deg);
		-o-transform: rotate(31deg);
		transform: rotate(31deg);
	}
}

@-webkit-keyframes nextanim {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(-51deg);
		-moz-transform: rotate(-51deg);
		-o-transform: rotate(-51deg);
		transform: rotate(-51deg);
	}

	50% {
		-webkit-transform: rotate(-11deg);
		-moz-transform: rotate(-11deg);
		-o-transform: rotate(-11deg);
		transform: rotate(-11deg);
	}

	75% {
		-webkit-transform: rotate(-41deg);
		-moz-transform: rotate(-41deg);
		-o-transform: rotate(-41deg);
		transform: rotate(-41deg);
	}

	to {
		-webkit-transform: rotate(-31deg);
		-moz-transform: rotate(-31deg);
		-o-transform: rotate(-31deg);
		transform: rotate(-31deg);
	}
}

@-moz-keyframes nextanim {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(-51deg);
		-moz-transform: rotate(-51deg);
		-o-transform: rotate(-51deg);
		transform: rotate(-51deg);
	}

	50% {
		-webkit-transform: rotate(-11deg);
		-moz-transform: rotate(-11deg);
		-o-transform: rotate(-11deg);
		transform: rotate(-11deg);
	}

	75% {
		-webkit-transform: rotate(-41deg);
		-moz-transform: rotate(-41deg);
		-o-transform: rotate(-41deg);
		transform: rotate(-41deg);
	}

	to {
		-webkit-transform: rotate(-31deg);
		-moz-transform: rotate(-31deg);
		-o-transform: rotate(-31deg);
		transform: rotate(-31deg);
	}
}

@-o-keyframes nextanim {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(-51deg);
		-moz-transform: rotate(-51deg);
		-o-transform: rotate(-51deg);
		transform: rotate(-51deg);
	}

	50% {
		-webkit-transform: rotate(-11deg);
		-moz-transform: rotate(-11deg);
		-o-transform: rotate(-11deg);
		transform: rotate(-11deg);
	}

	75% {
		-webkit-transform: rotate(-41deg);
		-moz-transform: rotate(-41deg);
		-o-transform: rotate(-41deg);
		transform: rotate(-41deg);
	}

	to {
		-webkit-transform: rotate(-31deg);
		-moz-transform: rotate(-31deg);
		-o-transform: rotate(-31deg);
		transform: rotate(-31deg);
	}
}

@keyframes nextanim {
	0% {
		-webkit-transform: rotate(0deg);
		-moz-transform: rotate(0deg);
		-o-transform: rotate(0deg);
		transform: rotate(0deg);
	}

	25% {
		-webkit-transform: rotate(-51deg);
		-moz-transform: rotate(-51deg);
		-o-transform: rotate(-51deg);
		transform: rotate(-51deg);
	}

	50% {
		-webkit-transform: rotate(-11deg);
		-moz-transform: rotate(-11deg);
		-o-transform: rotate(-11deg);
		transform: rotate(-11deg);
	}

	75% {
		-webkit-transform: rotate(-41deg);
		-moz-transform: rotate(-41deg);
		-o-transform: rotate(-41deg);
		transform: rotate(-41deg);
	}

	to {
		-webkit-transform: rotate(-31deg);
		-moz-transform: rotate(-31deg);
		-o-transform: rotate(-31deg);
		transform: rotate(-31deg);
	}
}

.prev-1:hover .timeline-item-inner {
	-webkit-animation: .6s prevanim ease;
	-moz-animation: .6s prevanim ease;
	-o-animation: .6s prevanim ease;
	animation: .6s prevanim ease;
	-webkit-animation-fill-mode: forwards;
}

.next-1:hover .timeline-item-inner {
	-webkit-animation: .6s nextanim ease;
	-moz-animation: .6s nextanim ease;
	-o-animation: .6s nextanim ease;
	animation: .6s nextanim ease;
	-webkit-animation-fill-mode: forwards;
}

.prev-1 .inside-time,.next-1 .inside-time {
	top: 20px;
}

.prev-1 .inside-time p,.next-1 .inside-time p {
	font-size: 17px;
}

.prev-1 .inside-time:before,.next-1 .inside-time:before,.prev-1 .inside-time:after,.next-1 .inside-time:after {
	margin-top: -20px;
}

.inside-time p {
	-webkit-transition: all .4s linear;
	-moz-transition: all .4s linear;
	-o-transition: all .4s linear;
	transition: all .4s linear;
}

.timeline-content-wrapper {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.timeline-content {
	margin: 0 auto;
	position: absolute;
	z-index: 1;
	left: 0;
	margin-left: 0;
	width: 100%;
}

.popin {
	-webkit-animation: pop-pop 1s linear both;
	-moz-animation: pop-pop 1s linear both;
	-o-animation: pop-pop 1s linear both;
	animation: pop-pop 1s linear both;
	-ms-animation: pop-pop 1s linear both .1s;
	-webkit-transform: translateZ(0);
	-moz-transform: translateZ(0);
	-o-transform: translateZ(0);
	transform: translateZ(0);
	opacity: 1;
}

.popout {
	-webkit-transform: scale(0) translateZ(0);
	-moz-transform: scale(0) translateZ(0);
	-o-transform: scale(0) translateZ(0);
	transform: scale(0) translateZ(0);
	-webkit-animation: none;
	-moz-animation: none;
	-o-animation: none;
	animation: none;
	opacity: 0;
}

@-webkit-keyframes pop-pop {
	0% {
		-webkit-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
	}

	3.333333% {
		-webkit-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
	}

	6.666667% {
		-webkit-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
	}

	10% {
		-webkit-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
	}

	13.333333% {
		-webkit-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
	}

	16.666667% {
		-webkit-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
	}

	20% {
		-webkit-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
	}

	23.333333% {
		-webkit-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
	}

	26.666667% {
		-webkit-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
	}

	30% {
		-webkit-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
	}

	33.333333% {
		-webkit-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
	}

	36.666667% {
		-webkit-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
	}

	40% {
		-webkit-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
	}

	43.333333% {
		-webkit-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
	}

	46.666667% {
		-webkit-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
	}

	50% {
		-webkit-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
	}

	53.333333% {
		-webkit-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
	}

	56.666667% {
		-webkit-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
	}

	60% {
		-webkit-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
	}

	63.333333% {
		-webkit-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
	}

	66.666667% {
		-webkit-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
	}

	70% {
		-webkit-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
	}

	73.333333% {
		-webkit-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
	}

	76.666667% {
		-webkit-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
	}

	80% {
		-webkit-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
	}

	83.333333% {
		-webkit-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
	}

	86.666667% {
		-webkit-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
	}

	90% {
		-webkit-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
	}

	93.333333% {
		-webkit-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
	}

	96.666667% {
		-webkit-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
	}

	to {
		-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
}

@-moz-keyframes pop-pop {
	0% {
		-webkit-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
	}

	3.333333% {
		-webkit-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
	}

	6.666667% {
		-webkit-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
	}

	10% {
		-webkit-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
	}

	13.333333% {
		-webkit-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
	}

	16.666667% {
		-webkit-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
	}

	20% {
		-webkit-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
	}

	23.333333% {
		-webkit-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
	}

	26.666667% {
		-webkit-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
	}

	30% {
		-webkit-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
	}

	33.333333% {
		-webkit-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
	}

	36.666667% {
		-webkit-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
	}

	40% {
		-webkit-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
	}

	43.333333% {
		-webkit-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
	}

	46.666667% {
		-webkit-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
	}

	50% {
		-webkit-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
	}

	53.333333% {
		-webkit-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
	}

	56.666667% {
		-webkit-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
	}

	60% {
		-webkit-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
	}

	63.333333% {
		-webkit-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
	}

	66.666667% {
		-webkit-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
	}

	70% {
		-webkit-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
	}

	73.333333% {
		-webkit-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
	}

	76.666667% {
		-webkit-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
	}

	80% {
		-webkit-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
	}

	83.333333% {
		-webkit-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
	}

	86.666667% {
		-webkit-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
	}

	90% {
		-webkit-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
	}

	93.333333% {
		-webkit-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
	}

	96.666667% {
		-webkit-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
	}

	to {
		-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
}

@-o-keyframes pop-pop {
	0% {
		-webkit-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
	}

	3.333333% {
		-webkit-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
	}

	6.666667% {
		-webkit-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
	}

	10% {
		-webkit-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
	}

	13.333333% {
		-webkit-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
	}

	16.666667% {
		-webkit-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
	}

	20% {
		-webkit-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
	}

	23.333333% {
		-webkit-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
	}

	26.666667% {
		-webkit-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
	}

	30% {
		-webkit-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
	}

	33.333333% {
		-webkit-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
	}

	36.666667% {
		-webkit-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
	}

	40% {
		-webkit-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
	}

	43.333333% {
		-webkit-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
	}

	46.666667% {
		-webkit-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
	}

	50% {
		-webkit-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
	}

	53.333333% {
		-webkit-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
	}

	56.666667% {
		-webkit-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
	}

	60% {
		-webkit-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
	}

	63.333333% {
		-webkit-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
	}

	66.666667% {
		-webkit-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
	}

	70% {
		-webkit-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
	}

	73.333333% {
		-webkit-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
	}

	76.666667% {
		-webkit-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
	}

	80% {
		-webkit-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
	}

	83.333333% {
		-webkit-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
	}

	86.666667% {
		-webkit-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
	}

	90% {
		-webkit-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
	}

	93.333333% {
		-webkit-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
	}

	96.666667% {
		-webkit-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
	}

	to {
		-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
}

@keyframes pop-pop {
	0% {
		-webkit-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1);
	}

	3.333333% {
		-webkit-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.2909,0,0,0,0,.2909,0,0,0,0,1,0,0,0,0,1);
	}

	6.666667% {
		-webkit-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.59685,0,0,0,0,.59685,0,0,0,0,1,0,0,0,0,1);
	}

	10% {
		-webkit-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.85548,0,0,0,0,.85548,0,0,0,0,1,0,0,0,0,1);
	}

	13.333333% {
		-webkit-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.03794,0,0,0,0,1.03794,0,0,0,0,1,0,0,0,0,1);
	}

	16.666667% {
		-webkit-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.14088,0,0,0,0,1.14088,0,0,0,0,1,0,0,0,0,1);
	}

	20% {
		-webkit-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.17694,0,0,0,0,1.17694,0,0,0,0,1,0,0,0,0,1);
	}

	23.333333% {
		-webkit-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.16606,0,0,0,0,1.16606,0,0,0,0,1,0,0,0,0,1);
	}

	26.666667% {
		-webkit-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.12889,0,0,0,0,1.12889,0,0,0,0,1,0,0,0,0,1);
	}

	30% {
		-webkit-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.08275,0,0,0,0,1.08275,0,0,0,0,1,0,0,0,0,1);
	}

	33.333333% {
		-webkit-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.0397,0,0,0,0,1.0397,0,0,0,0,1,0,0,0,0,1);
	}

	36.666667% {
		-webkit-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00644,0,0,0,0,1.00644,0,0,0,0,1,0,0,0,0,1);
	}

	40% {
		-webkit-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.98522,0,0,0,0,.98522,0,0,0,0,1,0,0,0,0,1);
	}

	43.333333% {
		-webkit-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97516,0,0,0,0,.97516,0,0,0,0,1,0,0,0,0,1);
	}

	46.666667% {
		-webkit-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97367,0,0,0,0,.97367,0,0,0,0,1,0,0,0,0,1);
	}

	50% {
		-webkit-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.97763,0,0,0,0,.97763,0,0,0,0,1,0,0,0,0,1);
	}

	53.333333% {
		-webkit-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.98414,0,0,0,0,.98414,0,0,0,0,1,0,0,0,0,1);
	}

	56.666667% {
		-webkit-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99098,0,0,0,0,.99098,0,0,0,0,1,0,0,0,0,1);
	}

	60% {
		-webkit-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99677,0,0,0,0,.99677,0,0,0,0,1,0,0,0,0,1);
	}

	63.333333% {
		-webkit-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00085,0,0,0,0,1.00085,0,0,0,0,1,0,0,0,0,1);
	}

	66.666667% {
		-webkit-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00315,0,0,0,0,1.00315,0,0,0,0,1,0,0,0,0,1);
	}

	70% {
		-webkit-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00396,0,0,0,0,1.00396,0,0,0,0,1,0,0,0,0,1);
	}

	73.333333% {
		-webkit-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00371,0,0,0,0,1.00371,0,0,0,0,1,0,0,0,0,1);
	}

	76.666667% {
		-webkit-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00288,0,0,0,0,1.00288,0,0,0,0,1,0,0,0,0,1);
	}

	80% {
		-webkit-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00185,0,0,0,0,1.00185,0,0,0,0,1,0,0,0,0,1);
	}

	83.333333% {
		-webkit-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00089,0,0,0,0,1.00089,0,0,0,0,1,0,0,0,0,1);
	}

	86.666667% {
		-webkit-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1.00014,0,0,0,0,1.00014,0,0,0,0,1,0,0,0,0,1);
	}

	90% {
		-webkit-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99967,0,0,0,0,.99967,0,0,0,0,1,0,0,0,0,1);
	}

	93.333333% {
		-webkit-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99944,0,0,0,0,.99944,0,0,0,0,1,0,0,0,0,1);
	}

	96.666667% {
		-webkit-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(.99941,0,0,0,0,.99941,0,0,0,0,1,0,0,0,0,1);
	}

	to {
		-webkit-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		-moz-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		-o-transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
		transform: matrix3d(1,0,0,0,0,1,0,0,0,0,1,0,0,0,0,1);
	}
}

.timeline-content.active {
	display: block;
}

.timeline-content.title-circle h2 {
	font-size: 260px;
	font-size: 40.43545878693624vh;
	margin-top: 0;
	font-family: Wolf;
	line-height: 150px;
	line-height: 23.32815vh;
}

.tc-table-wrap {
	display: table;
	margin: 0 auto;
	width: 80%;
	margin-top: 100px;
	margin-top: 15.55209953343701vh;
}

.timeline-content h2 {
	font-family: Clarendon;
	text-align: center;
	line-height: .9em;
	display: block;
	margin-bottom: 50px;
	margin-bottom: 7.8vh;
	font-size: 75px;
	font-size: 11.7vh;
}

.timeline-content .feature-illustration {
	display: table-cell;
	width: 50%;
	padding-right: 50px;
	vertical-align: middle;
	text-align: right;
}

.timeline-content .feature-illustration img {
	width: 75%;
}

.timeline-content .tc-inner-content {
	display: table-cell;
	vertical-align: middle;
	width: 50%;
	text-align: center;
}

.timeline-content .tc-inner-content h3 {
	font-family: inherit;
	font-weight: 700;
	font-size: 8em;
	/*font-size: 8.6vh;*/
	letter-spacing: 3px;
	border: 6px solid;
	display: inline-block;
	padding: 5px;
}

.timeline-content .tc-inner-content p {
	width: 70%;
	font-size: 16px;
	font-size: 2.5vh;
	text-align: left;
}

/*!-- CIRCULAR TIMELINE*/

/*-- TEAM SECTION--*/
#team-listing-wrapper {
    background-color: #20202f;
    min-height: 100%;
    text-align: center;
}
.jc-title-wrapper {
    margin-bottom: 60px;
    margin-bottom: 9.331259720062208vh;
}
.jc-title-wrapper h2 {
    line-height: 100%;
    font-size: 60px;
    font-size: 9.331259720062208vh;
    margin-bottom: 0;
    color: #e17259;
}
.jc-title-wrapper p {
    color: #e17259;
    font-size: 24px;
    font-size: 3.7vh;
}
.team-type-block {
    margin-bottom: 20px;
    margin-bottom: 3.110419906687403vh;
    cursor: pointer;
    min-height: 151px;
}
#jtb-2 {
    clear: left;
}
.jtb-icon img {
    width: 65%}
.team-type-block p {
    font-size: 16px;
    padding-top: 10px;
    color: #fff;
    line-height: 18px;
}
.team-listing-btn a {
    display: inline-block;
    margin-top: 10px;
}
.team-listing-btn a:hover {
    border-color: #000;
}
.team-type-block:hover .jtb-icon {
    -webkit-animation: .6s clingy ease;
    -moz-animation: .6s clingy ease;
    -o-animation: .6s clingy ease;
    animation: .6s clingy ease;
}

/*!-- TEAM--*/
@media(min-width:768px) {
    .team-type-wrapper {
    display: table;
    width: 100%}
    #team-listing-wrapper {
        height: 100%}
    #team-listing-wrapper .container {
        height: 100%;
        display: table;
        }
    #team-listing-wrapper .container .row {
        display: table-cell;
        vertical-align: middle;}
}

@media(max-width:767px) {
	.bms-mobile .mobile-timeline-content .timeline-content.title-circle h2 {
		font-size: 100px;
	}
	#team-listing-wrapper {
        min-height: 0;
    }
    .team-type-block {
        min-height: 160px;
    }
    .team-type-block p {
        font-size: 13px;
    }
    .team-listing-btn a {
        margin-bottom: 25px;
        margin-top: 0;
    }
}


@media(min-width:481px) and (max-width:767px) {
	.bms-mobile .timeline-content .tc-inner-content p {
		width: 230px;
		font-size: 11px;
	}

	.bms-mobile .timeline-item-mobile {
		width: 75px;
		height: 75px;
	}

	.bms-mobile .timeline-content .feature-illustration img {
		width: 180px;
		height: 141px;
		-webkit-transform: translateX(25px);
		-moz-transform: translateX(25px);
		-o-transform: translateX(25px);
		transform: translateX(25px);
	}

	.bms-mobile .timeline-item-mobile .inside-time p {
		font-size: 20px;
		-webkit-transform: translateY(-10px);
		-moz-transform: translateY(-10px);
		-o-transform: translateY(-10px);
		transform: translateY(-10px);
	}
}

@media(orientation:portrait) and (min-width:481px) {

	.mobile .bms-mobile .mobile-timeline-content .tc-inner-content p {
		width: auto;
		padding: 0 20px;
		font-size: 23px;
	}

}

@media(max-width:480px),(orientation:portrait) {

	.mobile-timeline-content .timeline-content .tc-table-wrap .feature-illustration,.mobile-timeline-content .timeline-content .tc-table-wrap .tc-inner-content {
		float: none;
		display: block;
		width: auto;
		text-align: center;
		padding: 0;
	}

	.timeline-content .tc-inner-content h3 {
		margin-bottom: 0;
		margin-top: 0;
	}

	.bms-mobile .mobile-timeline-content .tc-inner-content p {
		width: 300px;
		margin: 0 auto;
		text-align: center;
	}

	.bms-mobile .mobile-timeline-content .timeline-content.title-circle h2 {
		display: block;
	}

	.bms-mobile .timeline-wrapper-bxmobile-content {
		height: 75%;
	}

	.bms-mobile .timeline-wrapper-bxmobile-timeline {
		height: 25%;
		top: -15px;
		position: relative;
	}


}

@media(max-width:480px) {
	.mobile-timeline-content .timeline-content.title-circle h2 {
		font-size: 80px;
	}

	.bms-mobile .timeline-content .feature-illustration img {
		padding: 30px;
		padding-bottom: 0;
	}
	.jc-title-wrapper h2 {
    font-size: 35px;
    padding: 0 40px;
	}
	.jc-title-wrapper p {
	    font-size: 16px;
	}
	.team-type-block {
	    min-height: 150px;
	    width: 50%
	}
}


@media(max-width:480px) and (max-height:580px) and (orientation:landscape) {
	.mobile-timeline-content .timeline-content .tc-table-wrap {
		padding-bottom: 20px;
	}

	.bms-mobile .timeline-content .feature-illustration img {
		height: 80px;
		padding: 0;
		width: auto;
	}

	.bms-mobile .mobile-timeline-content .tc-inner-content p {
		font-size: 3vh;
	}

	.bms-mobile .timeline-wrapper-bxmobile-timeline {
		height: 30%;
		-webkit-transform: translateY(-20%);
		-moz-transform: translateY(-20%);
		-o-transform: translateY(-20%);
		transform: translateY(-20%);
	}
}

@-ms-viewport {
	width:device-width;
}